<!DOCTYPE html>
<html lang="en">
	<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-133438687-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-133438687-1');
    </script>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
    <meta name="keywords" content="">
		<title>Critistry.com</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
		<!-- Favicon -->
    <link href="../images/favicon.png" rel="shortcut icon">
		<!-- CSS -->				
	</head>
	<body data-preloader="2">
		
		<header>
			<nav class="navbar navbar-sticky"><!-- add 'navbar-dark/navbar-grey/navbar-transparent/navbar-transparent-dark' -->
				<div class="container">
					<a class="navbar-brand" href="/">
						<h5>Critistry</h5>
					</a>
					<ul class="nav"><!-- add 'dropdown-dark/dropdown-grey/dropdown-transparent/dropdown-transparent-dark' -->
						<!-- Basic link -->
            <%= if is_logged_in?(@conn) do %>
              <li class="nav-item">
                <a class="nav-link" href="<%= page_path(@conn, :sign_out) %>">Sign Out</a>
              </li>

						  <!-- Dropdown -->            
              <li class="nav-item nav-dropdown">
							<a class="nav-link" href="<%= dashboard_path(@conn, :index) %>">Dashboard</a>
				        	<ul class="dropdown-menu">
								<li><a href="<%= dashboard_path(@conn, :my_profile) %>">Profile</a></li>								
                <li><a href="<%= crit_group_path(@conn, :new) %>">Create Crit Group</a></li>
								<li><a href="<%= crit_group_path(@conn, :list) %>">Crit Groups</a></li>
							</ul>
						</li>														
            <% else %>
            	<li class="nav-item">
							  <a class="nav-link" data-toggle="modal" data-target="#loginModal" href="#">Sign In</a>
						  </li>            
            <% end %>
							
					<!-- Nav Toggle button -->
					<button class="nav-toggle-btn">
			            <span class="lines"></span>
			        </button><!-- toggle button will show when screen resolution is less than 992px -->
				</div><!-- end container -->
			</nav>
		</header>

		<%= render @view_module, @view_template, assigns %>

  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Sign in</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<a href="/auth/facebook" class="btn btn-lg btn-block btn-social btn-facebook">
							<i class="fab fa-facebook"></i> Sign in with Facebook
						</a>
						<a href="/auth/google" class="btn btn-lg btn-block btn-social btn-google">
							<i class="fab fa-google"></i> Sign in with Google
						</a>										
            <a title="Sign in as a random user to test drive the site" data-toggle="tooltip" data-placement="bottom" href="/auth/guest" class="btn btn-lg btn-block btn-social btn-google">
							<i class="fab"></i> Sign in as Guest
						</a>	
					</div>
					<div class="modal-footer">
						
					</div>
				</div><!-- end modal-content -->
			</div><!-- end modal-dialog -->
		</div><!-- end modal -->
		

		<footer>
			<div class="footer bg-dark-lighter">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-6 col-lg-3">
							<h3>Critistry</h3>
						</div>
						<div class="col-12 col-md-6 col-lg-3">
							<h6 class="heading-uppercase">Useful Links</h6>
							<ul class="list-icon list-icon-arrow">
								<li><a href="/about">About us</a></li>
								<li><a href="/faq">FAQ</a></li>																
							</ul>
						</div>				
					</div><!-- end row -->
				</div><!-- end container -->
			</div><!-- end footer -->
			<div class="footer-bottom bg-dark">
				<div class="container text-center">
					<p>&copy; 2018 Critistry.com, All Rights Reserved.</p>
				</div><!-- end container -->
			</div><!-- end footer-bottom -->
		</footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

    <script>

    $( document ).ready(function() {
        var hash = window.location.hash.substr(1);
        if (hash == 'login') {
          $('#loginModal').modal('show')
        }
    });

</script>
	</body>
</html> 